body{
  background-color: #eaeaea;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.lpad-50{
  padding-left: 50px;
}

.rpad-50{
  padding-left: 50px;
}

.lmar-20{
  margin-left: 20px;
}

.lmar-30{
  margin-left: 30px;
}

.lmar-40{
  margin-left: 40px;
}

.rmar-20{
  margin-right: 20px;
}

.rmar-30{
  margin-right: 30px;
}

.rmar-40{
  margin-right: 40px;
}

.bmar-20{
  margin-bottom: 20px;
}

.bmar-30{
  margin-bottom: 30px;
}

.bmar-40{
  margin-bottom: 40px;
}

.tmar-40{
  margin-top: 40px;
}

.tmar-30{
  margin-top: 30px;
}

.tmar-20{
  margin-top: 20px;
}