.sidebar-container {
  width: 11%;
  background-color: rgb(2, 42, 173);
  color: white;
  height: 95.8vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 200px;
  font-weight: 600;
  max-width: 250px;
}

.profile-placeholder {
  width: 80px;
  background-color: lightgray;
  color: navy;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 30px;
  min-height: 80px;
}

.name {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  transition: background-color 0.3s;
  background-color: #d0e8ff;
  color: black;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  width: 60%;
  font-size: 16px;
  margin-bottom: 60px;
  font-weight: 500;
}

.button:hover {
  background-color: #9ebbff;
}

.sidebar-button {
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 80px;
  width: 70%;
  display: block;
  transition: background-color 0.3s;
  background-color: #d0e8ff;
}

.sidebar-button:hover {
  background-color: #9ebbff;
  font-weight: 700;
}


@media (max-width: 600px) {
  .sidebar-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(2, 42, 173);
    z-index: 1000;
    min-width: None;
    max-width: None;
    
  }

  .sidebar-button {
    margin-bottom: 0;
    width: 15%;
    color: black;
    margin-right: 1em;
    text-align: center;
  }
  
  #profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: rgb(2, 42, 173);
    color: white;
    padding: 10px 0;
    z-index: 1000;
    
  }

  .profile-placeholder, .name {
    margin: 0 10px;
  }
  
  .main-content {
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

  }
}
