body {
  background-color: #eaeaea;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.generic-button {
  width: 150px;
  height: 35px;
  background-color: #1a75e9;
  border-radius: 10px;
  border-color: transparent;
  font-family: 'Open Sans';
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  margin-right: 40px
}


.courses-box {
  width: 700px;
  height: auto;
  background-color: white;
  margin: 50px 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.courses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.taskboard-box{
  width: 40%;
  height: auto;
  min-height: 300px;
  background-color: white;
  margin-left: 40px;
  margin-right: 20px;
  
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 550px;
  min-width: 500px;
}

.tasks-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-bottom: 25px;
}

.sidebar-button:hover {
  background-color: #9ebbff;
  font-weight: 700;
}

.task-header { 
  margin-bottom: 0px;
  width: 100%;
  margin-left: 10px;
  font-size: 18px;
}

.task-item {
  margin-bottom: 5px;
}

/* Desktop */
@media (min-width: 1224px) {
  .dashboard-wrapper{
    display: flex;
    flex-direction: row;
    align-items: start;
    overflow-x: auto;
  }
  

}

/* Tablet */
@media (max-width: 1224px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    
  }
  
  .dashboard-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: none;
  }
  
  .courses-box {
    width: 75%;
    height: auto;
    margin: none;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  .taskboard-box{
    width: 80%;
    height: auto;
    min-height: 300px;
    min-width: 300px;
    margin: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
}

/* Mobile */
@media (max-width: 700px) {
  
  h1{
    font-size: 20px;

  }
  
  h2 {
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  
  .main-content {
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .dashboard-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: none;
  }

}